%clase{
    background-image: url("../img/accidente2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
};

%parrafo{
    background-color: rgb(162, 161, 162);
    padding: 20px;
    width: 520px;
    height: 410;
    margin: 60px;
};


