@mixin section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin footer{
    flex-flow: row nowrap;
    text-decoration:none;
    align-items: center;
    margin: 20px;
   
   
}